# Task1
* Churn datasini kullanin. 6 Adet Grafik seçin ve datayi kullanarak grafikleri pythonda
  (Istenen Kolonlar Secilebilir)
* Pivot / groupby ile cizilen grafiklerin tablo versiyonu dökün
* Grafik ve pivotlarin benzerini excelde çizip python ile kiyaslayin

In [8]:
import pandas as pd
import seaborn as sns
import os
sns.set_theme(style="dark")
sns.set(rc={'figure.figsize':(5,4)})
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:
os.getcwd()

'C:\\Users\\besir\\Masaüstü\\DataAnalytic-CodePractice\\EDA'

In [22]:
def load_data(data = r"data/Telco_Graph.csv", sep = ";"):
    dataframe = pd.read_csv(data, sep=sep)
    return dataframe
df = load_data()
df.head()

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn
0  7590-VHVEG  Female              0     Yes         No       1           No  No phone service             DSL             No          Yes               No          No          No              No  Month-to-month              Yes           Electronic check           29.85        29.85    No
1  5575-GNVDE    Male              0      No         No      34          Yes                No             DSL            Yes           No              Yes          No          No              No        One year               No               Mailed check           56.95       1889.5    No
2  3668-QPYBK    Male              0      No         No       2          Yes                No             DSL            Yes          Yes               No          No          No              No  Month-to-month              Yes               Mailed check           53.85       108.15   Yes
3  7795-CFOCW    Male              0      No         No      45           No  No phone service             DSL            Yes           No              Yes         Yes          No              No        One year               No  Bank transfer (automatic)           42.30      1840.75    No
4  9237-HQITU  Female              0      No         No       2          Yes                No     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes           Electronic check           70.70       151.65   Yes

In [ ]:
# Data Understanding
def check_df(dataframe):
    print("##################### Data Shape #####################")
    print(dataframe.shape)
    print(" ")
    print("##################### Data Info #####################")
    print(dataframe.info())
    print(" ")
    print("##################### Data Missing Values #####################")
    print(dataframe.isnull().sum())
    print(" ")
    print("##################### Quantiles #####################")
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)
check_df(df)

In [ ]:
# Total Charge dtype convert to int64
df["TotalCharges"] = df["TotalCharges"].str.replace(",", "", regex=True).replace(" ", "", regex=True) # -> Unable to parse string " " at position 488
df["TotalCharges"][488]
df["TotalCharges"]= pd.to_numeric(df["TotalCharges"])

In [ ]:
cat_cols = [col for col in df.columns if str(df[col].dtypes) in ["category", "bool", "object"]]
cat_cols = [col for col in cat_cols if col not in "customerID"]
num_cols = [col for col in df.columns if col not in cat_cols]

In [ ]:
print("Categoric columns list :", cat_cols)
print("Numeric columns list :", num_cols)

# Data Visualization
 * Kategorik değişken: sütun grafik. countplot bar
 * Sayısal değişken: hist, boxplot

In [ ]:
def cat_summary(dataframe, col_name, plot=True):
    print(pd.DataFrame(
        {col_name: dataframe[col_name].value_counts(),
         "Ratio": 100 * dataframe[col_name].value_counts() / len(dataframe)}))
    print("##########################################")
    
    if plot:
        sns.countplot(x = dataframe[col_name], data=dataframe)
        plt.show(block=True)

In [ ]:
for col in cat_cols:
    if df[col].dtypes == "bool": # there is no bool dtype in dataset
        pass
    else:
        cat_summary(df, col)

# Pie Graph

In [ ]:
labels=df.Churn.value_counts().index
sizes=df.Churn.value_counts().values
explode=[0,0.5]

plt.pie(sizes,explode,labels,autopct="%1.1f%%")
plt.title("Churn Distrubition\n"+ "using Value counts", bbox={'facecolor':'0.8', 'pad':5})
plt.show();

In [ ]:
labels=df.SeniorCitizen.value_counts().index
sizes=df.SeniorCitizen.value_counts().values
explode=[0,0.3]

plt.pie(sizes,explode,labels,autopct="%1.1f%%")
plt.title("SeniorCitizen Distrubition\n"+ "using Pie Graph", bbox={'facecolor':'0.8', 'pad':5})
plt.show();

# Line Plot, Bar Plot, Histogram, Box plot
 * Sayısal değikenler en sık kullanılan plot çeşitleri

In [ ]:
df.head()

In [ ]:
def num_summary(dataframe, numerical_col):
    quantiles = [0.05, 0.25, 0.50, 0.75, 0.95, 0.99]
    print(dataframe[numerical_col].describe(quantiles).T)

In [ ]:
num_summary(df, "TotalCharges")

In [ ]:
sns.histplot(x= df["TotalCharges"]);

In [ ]:
sns.histplot(x= df["MonthlyCharges"], hue= df["Churn"]);

In [ ]:
df.groupby("tenure").agg({"TotalCharges":"mean"})

plt.figure(figsize=(7, 3))
sns.lineplot(x= "tenure", y= "TotalCharges", data= df)
plt.title("Tenure Line Plot")
plt.show();

In [ ]:
sns.barplot(x= "Churn", y= "TotalCharges", data=df)
plt.title("Churn Bar Plot")
plt.show();

In [ ]:
sns.barplot(x=df["MonthlyCharges"], y=df["Contract"], hue=df["Churn"])
plt.show();
df.groupby(["Contract", "Churn"])[["MonthlyCharges"]].mean()

In [ ]:
num_cols

In [ ]:
for i in num_cols:
    sns.boxplot(x = df[i])
    plt.show();

In [ ]:
plt.figure(figsize=(14, 5))
sns.boxplot(data=df, x="TotalCharges", y="Contract");

* Churn olan/olmayan muserileri ayni grafikte kiyaslayarak churn nedenlerini gorsel
olarak gosteriniz. (5-6 Degisken ile)
* "Car Crash" datasini kullanarak korelasyon heatmap cizin.

In [ ]:
df_crash = sns.load_dataset("car_crashes")

In [ ]:
df_crash.info()